.section {
  width: 500px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

  background-color: lightsteelblue;
  box-shadow: 16px 16px 1px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
}

.flex__button {
  display: flex;
  justify-content: center;
}

.flex__button > * {
  cursor: pointer;
  transition: transform 0.2s ease;
}
.flex__button > *:hover {
  transform: scale(1.3);
}

.button {
  margin: 10px;
  width: 150px;
  outline-color: lightyellow;
  outline-width: 0px;

  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  margin-left: 16px;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: #fff;
  color: lightslategray;
}

/* .list_statistic {
} */

.item {
  margin: 10px;
}
